
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Jobs in Ethiopia</li>
  </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <%= render 'layouts/leftsidebar'%>
        <div class="col-7">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <% if @page > 0 %>
                    <li class="page-item"><%= link_to "Previous", jobs_path(page: @page-1) ,class:"page-link" %></li>
                <% else %>
                    <li class="page-item disabled"><%= link_to "Previous", jobs_path(page: @page-1) ,class:"page-link" %></li>
                <% end %>
                

                <% if @page < @jobsPageCount %>
                    <li class="page-item"><%= link_to "Next", jobs_path(page: @page+1) ,class:"page-link" %></li>
                <% else %>
                    <li class="page-item disabled"><%= link_to "Next", jobs_path(page: @page+1) ,class:"page-link" %></li>
                <% end %>
                
              </ul>
            </nav>
            <table class="table table-responsive table-hover" width="100%">
               <thead>
               </thead>
               <tbody>
                 
                <% @jobs.each do |job| %>
                   <tr> 
                        <td width="65%">
                          
                              <%= link_to job.title, job, class:"link-primary fs-6" %><br>
                                <p class="text-muted">
                          <i class="fa fa-map-marker mg5r"></i> 
                           <%= Destination.where(:id => job.destination_id).pluck(:City).first() %>,
                           <%= Destination.where(:id => job.destination_id).pluck(:Region).first() %>

                           <br>
                          <i class="mg5r fa fa-envelope"></i> Employment Type: <%= EmployementType.where(:id => job.EmployementType_id).pluck(:name).first() %><br>
                          <i class="mg5r fa fa-briefcase"></i> Level: <%= CareerLevel.where(:id => job.CareerLevel_id).pluck(:name).first() %> 
                            </p>
                             <%= link_to "View details" , job, class:"btn btn-link" %>
                           
                        </td>
                        <td width="35%">
                            <table class="table table-responsive">
                            <tr>
                                <td>   
                                    <p class="text-danger">
                                            <i class="mg5r fa fa-clock"></i> Deadline: <%= job.deadlineDate %> 
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td> 
                                <%
                                    if job.Employer_id != nil 
                                %>
                                <%= 
                                    image_tag rails_blob_url(Employer.where("id = ?" , job.Employer_id).first.logo),width:"70px",height:"70px" %>
                                <%
                                    end
                                %> 
                                </td>
                            </tr>
                            </table>
                        </td>       
                                
                    </tr> 
                        

                    
                <% end %>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <% if @page > 0 %>
                    <li class="page-item"><%= link_to "Previous", jobs_path(page: @page-1) ,class:"page-link" %></li>
                <% else %>
                    <li class="page-item disabled"><%= link_to "Previous", jobs_path(page: @page-1) ,class:"page-link" %></li>
                <% end %>
                

                <% if @page < @jobsPageCount %>
                    <li class="page-item"><%= link_to "Next", jobs_path(page: @page+1) ,class:"page-link" %></li>
                <% else %>
                    <li class="page-item disabled"><%= link_to "Next", jobs_path(page: @page+1) ,class:"page-link" %></li>
                <% end %>
                
              </ul>
            </nav>
        </div>
       <%= render 'layouts/rightsidebar' %>
    </div>

</div>
