<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Jobs</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>
   
      <div class="container-fluid">
         <div class="row">
            <%= render 'layouts/leftsidebar'%>
            	<div class="col-7">
					<h2>Add New Job</h2>

					<%= form_with(model: @job) do |form| %>
						  <% if @job.errors.any? %>
						    <div id="error_explanation">
						      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

						      <ul>
						        <% @job.errors.each do |error| %>
						          <li><%= error.full_message %></li>
						        <% end %>
						      </ul>
						    </div>
						  <% end %>

						  <div class="field form-group">
						    <%= form.label :title %>
						    <%= form.text_field :title ,class:"form-control" %>
						  </div>

						  <div class="field form-group">
						    <%= form.label :Salary %>
						    <%= form.text_field :Salary ,class:"form-control" %>
						  </div>

						  <div class="field form-group">
						    <%= form.label "deadline Date" %>
						    <%= form.date_field :deadlineDate ,class:"form-control" %>
						  </div>
						  <br>
						  <div class="field form-group">
						    <%= form.label :discription %>
						    <%= form.rich_text_area :discription ,class:"form-control" %>
						  </div>
						  <br>
						  <div class="field form-group">
						    <%= form.label "Job Requirements" %>
						    <%= form.rich_text_area :jobRequirements ,class:"form-control" %>
						  </div>
						  <br>
						  <div class="field form-group">
						    <%= form.label "How To Apply" %>
						    <%= form.rich_text_area :howtoApply ,class:"form-control" %>
						  </div>
						  <br>
						  <div class="field form-group">
						    <%= form.label "Location" %>
						    <%= form.collection_select :destination_id, Destination.all, :id, :City, include_blank: true  ,class:"form-control custom-select" %>
						  </div>
						  <br>
						  <div class="field form-group">
						      <%= form.label "Career Level" %>
						      <%= form.collection_select :CareerLevel_id, CareerLevel.all, :id, :name, include_blank: true ,class:"form-control"  %>
						      
						  </div>
						  <br>
						  <div class="field form-group">
						      <%= form.label "Employement Type" %>
						      <%= form.collection_select :EmployementType_id, EmployementType.all, :id, :name, include_blank: true ,class:"form-control"  %>
						  </div>
						  <br>
						  <% if current_user.is_manager %>
						  <div class="field form-group">
						      <%= form.label "Employer" %>
						      <%= form.collection_select :Employer_id, Employer.all, :id, :name, include_blank: true ,class:"form-control custom-select"  %>
						     
						  </div>
						  <br>
						  <% end %>
						  <div class="field form-group">
						      <%= form.label "Job Category" %>
						      <%= form.collection_select :JobCategory_id, JobCategory.all, :id, :name, include_blank: true ,class:"form-control"  %>
						     
						  </div>
						  <br>
						  <%= form.hidden_field :postedDate, value: DateTime.now %>
						  <%= form.hidden_field :numberOfviews, value: 0 %>
						    
               			
						  <%= form.hidden_field :createdBy_id, value: current_user.id %>
					   		
					   		<% if user_signed_in? %>
				              <% if current_user.is_manager==true %>
				                 <%= form.hidden_field :is_approved, value: true %>
				               <% else %>
				                 <%= form.hidden_field :is_approved, value: false %>
				               <% end %>
				               <% end %>
						  
						  <div class="actions">
						    <%= form.submit class:"btn btn-primary" %>
						  </div>

						<% end %>

					<br>
					<%= link_to 'Back', jobs_path %>
					<br><br><br>
				</div>	
		 <%= render 'layouts/rightsidebar' %>
    </div>

</div>
